
<!-- BEGIN STEPS -->
<div class="steps-block steps-block-red">
    <div class="container">
        <div class="row">
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-truck"></i>
                <div>
                    <h2>Miễn phí giao hàng</h2>
                    <em>Giao hàng nhanh trong vòng 3 ngày</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-gift"></i>
                <div>
                    <h2>QUÀ TẶNG HẰNG NGÀY</h2>
                    <em>3 Quà tặng hàng ngày cho khách hàng may mắn</em>
                </div>
                <span>&nbsp;</span>
            </div>
            <div class="col-md-4 steps-block-col">
                <i class="fa fa-phone"></i>
                <div>
                    <h2>0909763107</h2>
                    <em>Hỗ trợ tư vấn 24/7</em>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END STEPS -->
<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>Về chúng tôi</h2>
                <p>
                    KVT Store cung cấp tất cả các nhạc cụ hiện đại: piano cơ, piano điện, guitar điện, guitar thùng, bass, drum, amp, effect, và nhiều phụ kiện khác.
                    <br />
                    - Chúng tôi mong muốn sẽ mang đến cho các bạn yêu âm thanh những sản phẩm chất lượng, chính hãng với giá thành phù hợp để các bạn có thể tự do thoả sức đam mê với những thanh âm tuyệt vời.
                    <br />
                    - Mọi đóng góp của quý khách là động lực để chúng tôi phát triển từng ngày. Quý khách có thể liên hệ:
                    <br />
                    - SĐT: 0909763107
                    <br />
                    - Email: kvtstore@gmail.com
                </p>
                
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-3 col-sm-6 pre-footer-col">
                <h2>Địa chỉ liên hệ</h2>
                <address class="margin-bottom-40">
                    VQ4P+249, Phường Tân Phú, Quận 9, Thành phố Hồ Chí Minh
                    <br />
                    Hotline: +84 909763107
                    <br />
                    Email: <a href="mailto:info@metronic.com">kvtstore@gmail.com</a><br>
                   
                </address>
            </div>
            <!-- END BOTTOM CONTACTS -->
        </div>
        <hr>
        <div class="row">
            <!-- BEGIN SOCIAL ICONS -->
            <div class="col-md-6 col-sm-6">
                <ul class="social-icons">
                    <li><a class="rss" data-original-title="rss" href="javascript:;"></a></li>
                    <li><a class="facebook" data-original-title="facebook" href="http://www.fb.com/vien.maiii2806"></a></li>
                    <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a></li>
                    <li><a class="googleplus" data-original-title="googleplus" href="javascript:;"></a></li>
                    <li><a class="linkedin" data-original-title="linkedin" href="javascript:;"></a></li>
                    <li><a class="youtube" data-original-title="youtube" href="javascript:;"></a></li>
                    <li><a class="vimeo" data-original-title="vimeo" href="javascript:;"></a></li>
                    <li><a class="skype" data-original-title="skype" href="javascript:;"></a></li>
                </ul>
            </div>
            <!-- END SOCIAL ICONS -->
            <!-- BEGIN NEWLETTER -->
            <div class="col-md-6 col-sm-6">
                <div class="pre-footer-subscribe-box pull-right">
                    <h2>Newsletter</h2>
                    <form action="#">
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END NEWLETTER -->
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<!--<div class="footer">
    <div class="container">
        <div class="row">-->
            <!-- BEGIN COPYRIGHT -->
            <!--<div class="col-md-4 col-sm-4 padding-top-10">
                2015 © Keenthemes. ALL Rights Reserved.
            </div>-->
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <!--<div class="col-md-4 col-sm-4">
                <ul class="list-unstyled list-inline pull-right">
                    <li><img src="~/assets/corporate/img/payments/western-union.jpg" alt="We accept Western Union" title="We accept Western Union"></li>
                    <li><img src="~/assets/corporate/img/payments/american-express.jpg" alt="We accept American Express" title="We accept American Express"></li>
                    <li><img src="~/assets/corporate/img/payments/MasterCard.jpg" alt="We accept MasterCard" title="We accept MasterCard"></li>
                    <li><img src="~/assets/corporate/img/payments/PayPal.jpg" alt="We accept PayPal" title="We accept PayPal"></li>
                    <li><img src="~/assets/corporate/img/payments/visa.jpg" alt="We accept Visa" title="We accept Visa"></li>
                </ul>
            </div>-->
            <!-- END PAYMENTS -->
            <!-- BEGIN POWERED -->
            <!--<div class="col-md-4 col-sm-4 text-right">
                <p class="powered">Powered by: <a href="http://www.keenthemes.com/">KeenThemes.com</a></p>
            </div>-->
            <!-- END POWERED -->
        <!--</div>
    </div>
</div>-->
<!-- END FOOTER -->
