
@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="container">
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">

            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="content-page ">
                <p><span style="color:#000000"><span style="font-size:24px">Đ</span></span>i vào hoạt động từ năm 2018, Cửa hàng
                    <strong>
                        &nbsp;
                        <span style="color:#d35400">KVT Store </span>
                    </strong>&nbsp;với phương châm làm việc bằng ngọn lửa nhiệt huyết và niềm đam mê, sáng tạo trong cách truyền cảm hứng âm nhạc đến với nhiều người hơn, dù là bất cứ ai ở bất kì đâu cũng đều có thể học đàn theo cách đơn giản nhất, thỏa mãn tối đa niềm đam mê âm nhạc không giới hạn của bản thân.
                </p>
                <p>Chúng tôi chuyên cung cấp các loại nhạc cụ<span style="color:#d35400"><strong> uy tín, chất lượng</strong></span> với đa dạng lựa chọn đến từ các thương hiệu hàng đầu thế giới cũng như luôn tạo điều kiện và môi trường giáo dục cởi mở nhằm khơi dậy - phát triển năng khiếu âm nhạc, tạo nên giai điệu mang âm hưởng cá nhân độc đáo của riêng bạn.</p>
                <p><strong><span style="color:#d35400">KVT Store</span> </strong>cung cấp tất cả các loại nhạc cụ hiện đại:</p><p>- Guitar: Electric, Bass, Classic,...</p>
                <p>- Trống cơ, trống điện</p>
                <p>- Piano cơ, piano điện</p>
                <p>- Đàn Violon tất cả các size</p>
                <p>- Đàn Ukulele</p><p>- Đàn Organ</p>
                <p>- Phơ / Effect</p><p>- Phụ kiện</p>
                <p><span style="color:#d35400"><strong>&nbsp;KVT Store </strong></span><span style="color:#f39c12"><strong>&nbsp;</strong></span>luôn cam kết mang lại sự hài lòng lớn nhất về nguồn gốc, chế độ bảo hành chính hãng của từng sản phẩm khác nhau với sự phục vụ tận tình, chu đáo nhất.</p>
                <p>Sự tin tưởng và yêu thích của khách hàng luôn là nguồn động lực to lớn thúc đẩy đội ngũ Simon Music Center phát triển lớn mạnh từng ngày.</p>
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>
